
.navbar {
    background-color: #4a90e2;
    font-family: Arial, sans-serif;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 



.navbar ul li {
    position: relative; 
}


.navbar ul li a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}


.navbar ul li a:hover {
    background-color: #357abd;
}


.navbar ul li ul.dropdown {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #4a90e2;
    min-width: 150px;
    z-index: 1000;
}


.navbar ul li ul.dropdown li a {
    padding: 10px 15px;
}


.navbar ul li:hover ul.dropdown {
    display: block;
}

.navbar ul li ul.dropdown li a:hover {
    background-color: #357abd;
}