
body {
    font-family: Arial, sans-serif;
    background-color: #f2f6ff;
}


.container {
    width: 400px;
    margin: 50px auto;
}


fieldset {
    border: 2px solid #4a90e2;  
    padding: 20px;             
    margin-bottom: 20px;
    border-radius: 8px;
}


legend {
    font-weight: bold;
    color: #4a90e2;
    font-size: 18px;
    padding: 0 10px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}


input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;  
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4a90e2;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}


input[type="submit"]:hover {
    background-color: #357abd;
}