 body
 {
    background-color: blue;
 }
 .box
 {
    width:300px;
    margin: 100px auto;
    padding : 20px;
    background-color: aquamarine;
    border: 2px solid black;
    border radius: 10px;
 }
 input,select{
    width :100%;
    padding :5px;
 }
    button{
        width:100%;
        padding:8px;
        background-color: greenyellow;
        color:white;
        border:none;
    }
    button:hover 
    {
        background-color: darkgreen;
    }