 .table
 {
    width: 60%;
    margin: 30 px auto;
    border-collapse:collapse;
 }
 .table , th, td{
    border : 1 px solid black;
    padding : 10 px;
    text-align: center;
 }
 th 
 {
    background-color:lightblue;
 }
 tr:nth-child(even)
 {
    background-color:brown;
 }