 
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f4f6f9;
}


.resume {
    width: 700px;
    margin: 40px auto;  
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 10px gray;
}


h1 {
    text-align: center;
    color: #2c3e50;
}

h2 {
    color: #1a73e8;
    border-bottom: 2px solid #1a73e8;
    padding-bottom: 5px;
}


p {
    line-height: 1.6;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #1a73e8;
    color: white;
}
