
body {
    font-family: Arial, sans-serif;
    background-color: #f4f9ff;
}

.container {
    width: 600px;
    margin: 50px auto;   /* centers content */
    text-align: center;
}


h1 {
    color: #2c3e50;
    font-size: 32px;
}


p {
    font-size: 16px;
    color: #555;
}


ol {
    text-align: left;
    display: inline-block;
    margin: 20px 0;
}

li {
    padding: 5px;
    font-weight: bold;
}


img {
    margin-top: 15px;
    border: 3px solid #4a90e2;
    border-radius: 10px;
    box-shadow: 0 4px 10px gray;
}


a {
    text-decoration: none;
    color: #4a90e2;
    font-weight: bold;
}

a:hover {
    color: red;
    text-decoration: underline;
}
